 /* CSS for car and jeep */

 /* .car{
     background-color: yellow;
 };

 .jeep{
     background-color: red;
 }; */
   

                /* applying color for box using css */

/* for class use . */

/* .main{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.b1{
    width:500px;
    height: 250px;
    display: flex;
    border: 2px solid red;
}

.b11{
    width:100%;
    height: 100%;
    background-color: green;
}

.b12{
    width:100%;
    height:100%;
    background-color: greenyellow;
}

.b2{
    width: 500px;
    height: 250px;
    border: 2px solid purple;
    display: flex;

}

.b21{
    width: 100%;
    height: 100%;
    background-color: honeydew;
}

.b22{
    width:100%;
    height: 100%;
    background-color: indianred;
}

 */

 /* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
